@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Orange: hsl(26, 100%, 55%);
    --Paleorange: hsl(25, 100%, 94%);
    --Verydarkblue: hsl(220, 13%, 13%);
    --Darkgrayishblue: hsl(219, 9%, 45%);
    --Grayishblue: hsl(220, 14%, 75%);
    --Lightgrayishblue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--White);
}

.full {
    height: 100vh;
    position: relative;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    cursor: pointer;
}

/*note ***change the border bottom color for nav and 
cart-div and quantiy selcetor div  to lightgryish blue
group all common buttonstyles/fontstyles/... together to avoid repeating */

/* elemnts that are only visalbe for mobile screens*/
.menu-btn {
    display: none;
}

/* nav bar */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    margin: 0 5rem;
    background-color: var(--White);
    border-bottom: 1px solid var(--Grayishblue);
    position: relative;
}

.logo-menu-div,
.cart-profile-div {
    display: flex;
    align-items: center;
}

.logo-menu-div {
    width: 51%;
    justify-content: space-between;
}

.logo-div {
    min-width: 150px;
    margin-right: 2rem;
}

img.logo {
    width: 100%;
}

/* menu links */
.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin: 0 1rem;
}

.menu li a {
    color: var(--Darkgrayishblue);
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 2.7rem;
}

.menu li a:hover {
    border-bottom: 5px solid var(--Orange);
}

/* cart icon and profile picture */
.cart-profile-div {
    position: relative;
}

span.notification {
    position: absolute;
    min-width: 0px;
    height: 0px;
    top: 2px;
    left: 10px;
    background-color: var(--Orange);
    color: var(--White);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    border-radius: 10px;
}

span.notification.notify {
    min-width: 30px;
    height: 20px;
    padding: 2px 5px;
}

img.cart {
    width: 25px;
}

img.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid transparent;
    margin-left: 2rem;
}

img.profile-pic:hover {
    border: 3px solid var(--Orange);
}

/* elemnts that are interactive (visalble on click) */
/* cart drop-down*/
.cart-div {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--White);
    width: 0%;
    height: 0px;
    border-radius: 8px;
    box-shadow: 0px 32px 101px -20px var(--Grayishblue);
    transition: bottom 0.2s ease-out;
    z-index: 9999;
    overflow: hidden;
}

.cart-div.active-cart {
    width: 35%;
    height: 300px;
    right: -10px;
    bottom: -280px;
}

.cart-div p.heading {
    padding: 1rem 1rem 2rem;
    color: var(--Black);
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid var(--Grayishblue);
}

.cart-div p.zero {
    /* display: none; */
    margin-top: 6rem;
    text-align: center;
    color: var(--Darkgrayishblue);
    font-weight: 700;
}

/* cart dropdown contents*/
.cart-box {
    padding: 2rem;
    height: 220px;
    display: none;
    /*check?! */
    flex-direction: column;
    justify-content: space-between;
}

.cart-box img.prd {
    width: 20%;
    max-width: 80px;
    border-radius: 4px;
    margin-right: 1rem;
}

.cart-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-product-detail {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

p.calculate {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

p.name,
span.price,
span.times,
span.amount {
    font-size: 18px;
    color: var(--Darkgrayishblue);
    font-weight: 700;
}

span.total {
    color: var(--Black);
    font-size: 18px;
    font-weight: 700;
}

button.delete {
    width: 5%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

button.delete img {
    width: 100%;
}

button.checkout {
    border: none;
    outline: none;
    background-color: var(--Orange);
    color: var(--White);
    font-size: 18px;
    font-weight: 700;
    padding: 1rem;
    border-radius: 7px;
    cursor: pointer;
}

/*end of cart dropdown content styles */

/* end of nav elemnt styes*/

/* main area elemnts styles*/
/*product preview and info are*/
main {
    position: relative;
    margin: 3rem;
}

.product-div {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: var(--White);
    z-index: 999;
}

.product-images,
.product-info {
    width: 50%;
}

/* product image display area */

.product-images {
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    height: 600px;
}

.product-image-large {
    border-radius: 15px;
    overflow: hidden;
}

img.preview {
    width: 100%;
}

.product-image-small {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

img.thumbnail {
    width: 20%;
    border-radius: 10px;
    opacity: 1;
}

img.thumbnail:hover {
    opacity: 0.9;
}

img.thumbnail.active {
    opacity: 0.7;
    border: 3px solid var(--Orange);
}

/* product info area / header and paragraph*/
.product-info {
    padding-right: 7rem;
    text-align: left;
    margin-left: 3rem;
}

p.title {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--Orange);
    margin-bottom: 1rem;
}

h1.product-name {
    color: var(--Black);
    font-size: 55px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 2rem;
}

p.product-detail {
    color: var(--Darkgrayishblue);
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

/* prices / current price and old price */

.prices {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.7rem;
}

p.price-current {
    color: var(--Black);
    font-size: 32px;
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}

span.discount {
    margin-left: 1rem;
    padding: 10px;
    background-color: var(--Paleorange);
    color: var(--Orange);
    font-weight: 700;
    border-radius: 8px;
}

p.price-old {
    font-size: 18px;
    color: var(--Darkgrayishblue);
    text-decoration: line-through;
}

/*quantity selection area */

.add-to-cart-div {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
}

.select-quantity,
button.addtocart {
    padding: 1rem;
    border-radius: 7px;
}

.select-quantity {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Grayishblue);
}

.select-quantity img {
    width: 14px;
}

span.quantity {
    color: var(--Black);
    font-size: 20px;
    font-weight: 700;
}

/*  add to cart button */
button.addtocart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    border: none;
    outline: none;
    background-color: var(--Orange);
    color: var(--White);
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 10px 20px 0px var(--Orange);
    cursor: pointer;
}

button.addtocart img {
    margin-right: 1rem;
}

/*for smaller screens/ Tablet screens */
@media only screen and (max-width:1220px) {
    .nav-bar {
        margin: 0 3rem;
    }

    .product-info {
        padding-right: 3rem;
        margin-left: 2rem;
    }

    .product-images {
        padding-left: 2rem;
        height: 500px;
    }

    h1.product-name {
        font-size: 35px;
        margin-bottom: 1rem;
    }

    p.product-detail {
        margin-bottom: 1rem;
    }

    .prices {
        margin-bottom: 1rem;
    }

    .cart-box {
        padding: 2rem 1.2rem;
    }

    .cart-div.active-cart {
        width: 40%;
    }

}

@media only screen and (max-width: 1000px) {
    h1.product-name {
        font-size: 30px;
    }

    p.product-detail {
        font-size: 16px;
    }

    .product-images {
        height: 400px;
    }

    p.name,
    span.price,
    span.times,
    span.amount {
        font-size: 16px;
    }
    span.quantity{
        font-size: 16px;
    }
    button.addtocart {
        font-size: 16px;
    }
}

@media only screen and (max-width: 860px) {
    p.price-current {
        font-size: 25px;
    }

    h1.product-name {
        font-size: 25px;
        margin-bottom: 0.6rem;
    }

    p.product-detail {
        margin-bottom: 0.6rem;
    }

    .prices {
        margin-bottom: 1rem;
    }
    
}

/* for Small screens / for mobile screens */
@media only screen and (max-width: 830px) {
    main{
        margin: 0;
    }
    .menu-btn{
        display: block;
        position: absolute;
    }
    img.logo{
        margin-left: 3rem;
    }
    .menu{
        display: none;
    }
    .product-div{
        flex-direction: column;
    }
    .product-images,
    .product-info{
        width: 100%;
    }
    .product-images{
        padding: 0;
    }
    .product-image-large{
        border-radius: 0;
    }
    .product-image-small{
        display: none;
    }
    .product-info{
        padding: 0;
    }
}